# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# macOS
.DS_Store

# Editor/IDE configs
.vscode/
.idea/
*.swp

# System files
Thumbs.db
desktop.ini

# Environment variables or local overrides
.env
.env.*

# Pytest
.cache/
.pytest_cache/

# Coverage
htmlcov/
.coverage
coverage.xml